
body {
  font-family: Arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
  background-color: #F6F8FC;
}

.header {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 85%;
  height: 100px;
  background-color: #EFF6FF;
  padding: 20px;

}


.logo-container {
position: fixed;
top: 20px;
left: auto;
right: 20px;
}

.title_1 {
  font-family: Arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #b37529;
  
}

.title_2 {
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  color: #ff0000;
  
}

.main_products-card {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  justify-content: center;
  width: 1270px;
  margin: 0 auto;

}

.products-card {
  list-style: none;
  margin-top: 150px;
  margin-left: 30px;
  margin-bottom: -120px;
  width: 350px;
  height: 430px;
  padding: 10px;
  background-color: #FFFFFF;
  border: 1px solid #E5E7EB;
  border-radius: 10px;
  display: inline-block;
  text-align: left;
  line-height: 15px;
  
  
}

.left-img {
  float: left;
  margin-right: 5px;
  margin-top: 10px;
  shape-outside: margin-box;
}

.Characteristics {
  font-size: 16px;
  margin-top: 17px;

} 

.Characteristics-list {
  list-style-type: disc;
  font-size: 14px;
  line-height: 1.5;
    
}

.button-equipment {
  background-color: #EAF2FF;
  color: #1D4ED8;
  border: none;
  padding: 5px 10px;
  border-radius: 15px;
  font-weight: bold;
  cursor: pointer;
}

.description {
  margin-top: 15px;
  text-align: justify;
  text-indent: 20px;
  line-height: 1.5; 

}

.price {
  font-size: 16px;
  color: #d8301d;
  margin-right: 170px;
  margin-left: 20px;
  margin-bottom: auto;
}
.button-detail {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #949494;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}
.button-buy {
  background-color: #1E5BDB;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  float: right;
  margin-top: 10px;
}